<!DOCTYPE html>
<html>
{% include 'head.html' %}

<body>
    <div class="bg-image">
        <div class="error404">
            <h1 class="display-2">
                <span class="branding-1">Error</span>
                <span class="branding-1"> 404</span>
            </h1>
            <h1 class="display-1">Page not found </h1>
        </div>
        <img width="500px" src="../static/img/404.png" class="d-none d-lg-block d-xl-block rounded float-right">
    </div>
</body>

<!-- css animation fix for chrome -->
<script>
</script>

</html>